
.div1
{
    width: 200px;
    height: 200px;
    background-color: yellow;
    
}
.div2
{
    width: 200px;
    height: 200px;
    background-color: red;
    
}
.div3
{
    width: 200px;
    height: 200px;
    background-color: green;
  
   
}
.divmaman1
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}
.divmaman2
{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
}
.divmaman3
{
    display: flex;
    flex-direction:row;
    margin-bottom: 10px;

}
.divmaman4
{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;


}
.premierh1{
    text-align: center;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}